.sidebar{
    background-color: #3b3b3b;
    width: 25%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 40px 20px;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

.logo{
    margin-bottom: 60px;
}

.navigation{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1;

    li{
        text-align: center;
    }

    a{
        display: block;
        padding: 2px 0;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.2;
        text-transform: uppercase;
        cursor: pointer;

        &.activeLink{
            text-decoration: underline;
        }
    }
    @media(min-width: 767px){
       li{
        margin-bottom: 15px;
       }
    }

    @media(min-width: 1400px){
        margin-bottom: 30px;

       li{
        margin-bottom: 25px;
        font-size: 16px;
       }
    }
}

.sidebarFooter{
    margin-top: auto;
    padding: 0;
    color: #fff;

    & > div:first-child{
        display: none;
    }

    svg{
        fill:#fff;
        width: 30px;
        height: 30px;
    }

    & > div > p:last-child{
        font-size: 12px;
    }
}
