.footer{
    background-color: #cee;
    text-align: center;
    padding: 20px 0;
}

.socialLinks{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  li:not(:last-child){
    margin-right: 20px;
  }
}

.profession{
  margin-bottom: 15px;
}

.copyright{
    font-size: 10px;
}


