.content{
  padding: 15px;

  p{
    margin-bottom: 12px;
  }
}
.title{
  line-height: 1.2;
  font-size: 32px;
  text-align: center;
  margin: 40px 0;
  font-family: Montserrat, sans-serif;
}

.subTitle{
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 12px;
}

.name{
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 38px;
  text-transform: uppercase;
}

.produktfotografin{
  margin: 40px auto;
  max-width: 550px;
}

.imgWrap{
  display: flex;
}
